################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Double-Ended priority Queues/x64/Debug
/x64
